* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #f6f3f3;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

section.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50%;
    border: solid 6px black;
    border-radius: 30px;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

/* Spacing for the entire form */
form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}

form input, form button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

form button {
    width: 30%;
}
form input {
    display: flex;
    align-items: center;
    width: 70%;
    margin-right: .5rem;
    font-size: 15px;
    
}