* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Funnel Display';
}

body {
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    background-color: #000000;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

section.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* height: 25em; */
    width: 100%;
    border: solid 6px black;
    background-color: darkolivegreen;
    border-radius: 30px;
    margin: 0 auto;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: tan;
}
header h1 {
    font-size: 5rem;
}

header p {
    font-size: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0 3rem 0;
}

/* Spacing for the entire form */
.btnForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#movieForm {
    margin-right: .5rem;
}

#movieForm input{
    /* width: 70%; */
    font-size: 2rem;
    padding: 0 auto;
    text-align: center;
    border-radius: 17px;
    padding: .7rem;
    background-color: #f5f5f5;
    color: rgb(101, 98, 98);
    border: none;
}

#btn {
    /* width: 30%; */
    font-size: 2rem;
    border-radius: 17px;
    padding: .7rem;
    background-color: tan;
    color: black;
    border: none;
    cursor: pointer;
}

#movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

#movies img {
    width: 20rem;
    height: 30rem;
    border-radius: 17px;
    margin: 0 .5rem;
    border-radius: 25px;
}

#movies p {
    margin: 20px 0;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    color: tan;
}