* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #f6f3f3;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

section.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50%;
    border: solid 6px black;
    border-radius: 30px;
    margin: 0;
}